<h2><%= @restaurant.name %></h2>

<p><%= @restaurant.address %></p>
<p><%= @restaurant.category %></p>
<p><%= @restaurant.phone_number %></p>

<div>
<p><%= link_to "New review", new_restaurant_review_path(@restaurant) %></p>
</div>

<h2>Reviews</h2>

<% @restaurant.reviews.each do |review| %>
  <h2><%= review.content %></h2>
  <p><%= review.rating %></p>
<% end %>
